a:link, a:visited {
    color: rgb(25, 0, 255);
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.navegacion a:link, .navegacion a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100px;
    display: inline-block;  
}
.navegacion a:hover, .navegacion a:active {
    color: rgb(249, 253, 0);
    text-decoration: none;
}
.navegacion {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px ;
}