a:link, a:visited {
    color: rgb(25, 0, 255);
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
nav a:link, nav a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100px;
    display: inline-block;  
}
nav a:hover, nav a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav {
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #777777, #000000);
    padding: 10px;
    margin: 10px ;
}